@model SetupModel;
    

<div class="align-items-center">

   @if(Model!= null)
    {
        <ul class="list-group">
            <li class="list-group-item" >@Model.Cpu</li>
            <li class="list-group-item">@Model.Gpu</li>
            <li class="list-group-item">@Model.Motherboard</li>
            <li class="list-group-item">@Model.RAM</li>
             <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        
    }
</div>

     
 
